<div class="footer_section">
    <div class="container">
        <div class="footer_menu">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'films' %}">Films</a></li>
                <li><a href="{% url 'sign_in' %}">Sing in</a></li>
                <li><a href="{% url 'create_account' %}">Create account</a></li>
                <li><a href="{% url 'films' %}">Search film</a></li>
            </ul>
        </div>
        <div class="copyright_text">Copyright 2023 All Right Reserved</div>
    </div>
</div>