{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmRate</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/logo1.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="https://kit.fontawesome.com/e97de7ac91.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <!-- header section start -->
    {% include "header.html" %}
    <!-- header section end -->
    <!-- banner section start -->
     <div class="banner_section banner_index">
           <div class="container">
                <h1 class="banner_title">Explore rankings and find your next favorite movie.</h1>
                <div class="search">
                    <input type="text" placeholder="Search film...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <p class="banner_text">Don't know what movie to watch? Check the rankings and find out what other movie buffs think.
                </p>
                
           </div>
     </div>
    <!-- banner section end -->
    <!-- films section start -->
    <div class="films_section films_index">
        <div class="container">
            <div class="title">
                <h2>Films</h2>
            </div>
            <div class="films">
                {% for film in films %} 
                <div class="container_film">
                    <img src={% static  film.image %} alt="poster film">
                    <div class="info_film">
                        <h3 class="text_film">{{ film.name }}</h3>
                        <p class="p_film">
                            {% if film.stars == "1" %}
                            <i class="fa-solid fa-star"></i>
                            {% elif film.stars == "2" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            {% elif film.stars == "3" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            {% elif film.stars == "4" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            {% elif film.stars == "5" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            {% endif%}
                        </p>
                    </div>
                </div>  
                {% endfor %}
                
            </div>
            <div class="see_btn"><a href="{% url 'films' %}">See More</a></div>
        </div>
    </div> 
    <!-- films section end -->

    <!-- review section start -->
    <div class="review_section review_index">
        <div class="container">
            <div class="title">
                <h2>Reviews</h2>
            </div>
            <div class="reviews">
                {% for film in films %}
                <div class="container_review">
                    <div class="img_review">
                        <img src={% static film.image %} alt="">
                    </div>
                    <div class="text_review">
                        <h3>{{ film.name }}</h3>
                        <div class="username">
                            <div><img src="" alt=""></div>
                            <div><i class="fa-solid fa-circle-user"></i></div>
                            <div><p><b>Username</b></p></div>
                        </div>
                        <div class="rating">
                            {% if film.stars == "1" %}
                            <i class="fa-solid fa-star"></i>
                            {% elif film.stars == "2" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            {% elif film.stars == "3" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            {% elif film.stars == "4" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            {% elif film.stars == "5" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            {% endif%}
                        </div>
                        <p>{{ film.description }}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="container_review">
                    <div class="img_review">
                        <img src="images/3.png" alt="">
                    </div>
                    <div class="text_review">
                        <h3>Name movie</h3>
                        <div class="username">
                            <div><img src="" alt=""></div>
                            <div><i class="fa-solid fa-circle-user"></i></div>
                            <div><p><b>Username</b></p></div>
                        </div>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Quibusdam ullam nostrum beatae quidem asperiores architecto 
                            alias ipsum quia, aperiam soluta.
                        </p>
                    </div>
                </div>
                <div class="container_review">
                    <div class="img_review">
                        <img src="images/4.png" alt="">
                    </div>
                    <div class="text_review">
                        <h3>Name movie</h3>
                        <div class="username">
                            <div><img src="" alt=""></div>
                            <div><i class="fa-solid fa-circle-user"></i></div>
                            <div><p><b>Username</b></p></div>
                        </div>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Quibusdam ullam nostrum beatae quidem asperiores architecto 
                            alias ipsum quia, aperiam soluta.
                        </p>
                    </div>
                </div>
            </div>
            <div class="text_signin">
                <h4>Rank movies you've seen and help others find the best ones.</h4>
                <p>Find honest reviews and share your opinion.</p>
                <a href="{% url 'create_account' %}">Sign up to create your own.</a>
            </div>
        </div>
    </div>
    <!-- review section end -->
    <!-- info section start -->
    <div class="info_section">
        <div class="container">
            <div class="title">
                <h4>With FilmRate you can...</h4>
            </div>
            <div class="info">
                <div class="info_text">
                    <i class="fa-solid fa-star"></i>
                    <p><b>Real-time rankings:</b> See which movies are rising and falling in popularity.</p>
                </div>
                <div class="info_text">
                    <i class="fa-solid fa-eye"></i>
                    <p><b>Reviews and Ratings:</b> Read detailed opinions and write your own.</p>
                </div>
                <div class="info_text">
                    <i class="fa-solid fa-film"></i>
                    <p><b>Custom List: </b>Organize your favorite movies in your custom list.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- info  section end -->
    <!-- footer  section start -->
    {% include "footer.html" %}
    <!-- footer  section end -->

</body>
</html>