{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create account</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/logo1.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="/static/functions.js"></script>
    <script src="https://kit.fontawesome.com/e97de7ac91.js" crossorigin="anonymous"></script>
    
</head>
<body>
   <!-- header section start -->
   {% include "header.html" %}
   <!-- header section end -->
   <!-- banner section end -->
     <div class="form_section">
         <div class="create_account">
            <form action="" class="form" form id="registerForm">
               <h2 class="form_title" id="result">Create account</h2>
               <p class="form_p">Ya tienes una cuenta. <a href="{% url 'sign_in' %}">Sign in</a></p>
               <div class="form_container">
                  <div class="form_group">
                     <input type="text" id="email" class="form_input" placeholder=" ">
                     <label for="email" class="form_label">Email</label>
                     <span class="form_line"></span>
                  </div>
                  <div class="form_group">
                     <input type="text" id="username" class="form_input" placeholder=" ">
                     <label for="username" class="form_label">Username</label>
                     <span class="form_line"></span>
                  </div>
                  <div class="form_group">
                     <input type="text" id="password" class="form_input" placeholder=" ">
                     <label for="password" class="form_label">Password</label>
                     <span class="form_line"></span>
                  </div>
                  <button type="button" class="form_submit" onclick="createUser()">Sign up</button>
               </div>

            </form>
         </div>
     </div>
   <!-- banner section end -->
   <!-- footer  section start -->
   {% include "footer.html" %}
   <!-- footer  section end -->

   <!-- <script src="/static/functions.js"></script> -->
</body>
</html>