{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/logo1.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="https://kit.fontawesome.com/e97de7ac91.js" crossorigin="anonymous"></script>
    
</head>
<body>

    <div class="header_section">
        <nav class="navbar">
            <div class="logo_header">
                <a href="index.html"><img class="logo_header" src="images/logo.png"></a>
                
            </div>
           <div class="menu" id="menu_index">
              <ul>
                 <li class="menu-item">
                    <a class="menu-link" href="home.html">Username</a>
                 </li>
                 <li class="menu-item">
                    <a class="menu-link" href="films.html">Films</a>
                 </li>
                 <li class="menu-item">
                    <a class="menu-link" href="my_watchlist.html">My Watchlist</a>
                 </li>
                 <li class="menu-item">
                    <a class="menu-link" href="films.html"><i class="fa-solid fa-magnifying-glass"></i></a>
                 </li>
              </ul>
           </div>
        </nav>

     </div>
     <!-- header section end -->

    <div class="film_container">
        <div class="container">
            <div class="film_img">
                <img src="images/5.png" alt="">
            </div>
            <div class="film_info">
                <div class="film_title"><h3>Film title</h3></div>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="film_descrition">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Velit saepe, ullam deleniti magni sit itaque molestiae magnam quis illum voluptas!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit saepe, ullam deleniti 
                    magni sit itaque molestiae magnam quis illum voluptas! Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. Velit saepe, ullam deleniti magni sit itaque molestiae 
                    magnam quis illum voluptas!
                </p>
            </div>
            <div class="film_actions">
                <div class="watched">
                    <i class="fa-solid fa-eye"></i>
                    <p>Watched</p>
                </div>
                <div class="add_watchlist">
                    <i class="fa-solid fa-film"></i>
                    <p>Watchlist</p>
                </div>
                <div class="rating">
                    <i class="fa-solid fa-star" id="star1"></i>
                    <i class="fa-solid fa-star" id="star2"></i>
                    <i class="fa-solid fa-star" id="star3"></i>
                    <i class="fa-solid fa-star" id="star4"></i>
                    <i class="fa-solid fa-star" id="star5"></i>
                    <p>Rate</p>
                </div>
            </div>
            
            <div class="film_review">
                <div class="review">
                    <div class="username">
                        <div><img src="" alt=""></div>
                        <div><i class="fa-solid fa-circle-user"></i></div>
                        <div><p><b>Username</b></p></div>
                    </div>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Quibusdam ullam nostrum beatae quidem asperiores architecto 
                        alias ipsum quia, aperiam soluta.
                    </p>
                </div>
                <div class="review">
                    <div class="username">
                        <div><img src="" alt=""></div>
                        <div><i class="fa-solid fa-circle-user"></i></div>
                        <div><p><b>Username</b></p></div>
                    </div>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Quibusdam ullam nostrum beatae quidem asperiores architecto 
                        alias ipsum quia, aperiam soluta.
                    </p>
                </div>
                <div class="review">
                    <div class="username">
                        <div><img src="" alt=""></div>
                        <div><i class="fa-solid fa-circle-user"></i></div>
                        <div><p><b>Username</b></p></div>
                    </div>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Quibusdam ullam nostrum beatae quidem asperiores architecto 
                        alias ipsum quia, aperiam soluta.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- footer  section start -->
    {% include "footer.html" %}
    <!-- footer  section end -->

</body>
</html>