{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Films</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/logo1.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="/static/functions.js"></script>
    <script src="https://kit.fontawesome.com/e97de7ac91.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <!-- header section start -->
    {% include "header.html" %}
    <!-- header section end -->
     <!-- banner section end -->
     <div class="banner_section banner_films">
           <div class="container">
                <h1 class="banner_title">What film do you want search?</h1>
                <p class="banner_text">Write the title of the film you are looking for!</p>
                <div class="search">
                    <input type="text" placeholder="Search film..." id="title">
                    <i class="fa-solid fa-magnifying-glass" onclick="searchFilm()"></i>
                </div>
           </div>
     </div>
    <!-- banner section end -->
    <!-- found films start -->
    <div class="films_section films_home found_films">
        <div class="container">
            <div class="title">
                <h4 id="found_films"></h4>
            </div>
            <p id="displayMessage"></p>
            <div id="peliculas" class="films"></div>
        </div>
    </div>
    <!-- found films section end -->
    <!-- films section end -->
    <div class="films_section films_home">
        <div class="container">
            <div class="title">
                <h2>Films</h2>
            </div>
            <div class="films" id="container_films">
            </div>
            <div class="see_btn"><a href="#">Search Film</a></div>
        </div>
    </div>
    <!-- films section end -->
    <!-- footer  section start -->
    {% include "footer.html" %}
    <!-- footer  section end -->
    <script>
        infoUser();
        films();
    </script>
</body>
</html>