{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles pelicula</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/logo1.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="/static/functions.js"></script>
    <script src="https://kit.fontawesome.com/e97de7ac91.js" crossorigin="anonymous"></script>
    
</head>
<body>

    <!-- header section start -->
    {% include "header_user.html" %}
    <!-- header section end -->
    <div class="film_container">
        <div class="container">
            <div id="details_img"></div>
            <div id="details_info"></div>
            <div class="film_actions">
                <div class="watched">
                    <i class="fa-solid fa-eye"></i>
                    <p>Watched</p>
                </div>
                <div class="add_watchlist">
                    <i class="fa-solid fa-film"></i>
                    <p>Watchlist</p>
                </div>
                <!-- <div class="rating">
                    <i class="fa-solid fa-star" id="star1"></i>
                    <i class="fa-solid fa-star" id="star2"></i>
                    <i class="fa-solid fa-star" id="star3"></i>
                    <i class="fa-solid fa-star" id="star4"></i>
                    <i class="fa-solid fa-star" id="star5"></i>
                    <p>Rate</p>
                </div> -->
            </div>
            
            <div class="film_review" id="reviews">
                
                <div class="review">
                    <div class="username">
                        <div><img src="" alt=""></div>
                        <div><i class="fa-solid fa-circle-user"></i></div>
                        <div><p><b>Username</b></p></div>
                    </div>
                    <div class="rating">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Quibusdam ullam nostrum beatae quidem asperiores architecto 
                        alias ipsum quia, aperiam soluta.
                    </p>
                </div>
                <div class="review">
                    <div class="username">
                        <div><img src="" alt=""></div>
                        <div><i class="fa-solid fa-circle-user"></i></div>
                        <div><p><b>Username</b></p></div>
                    </div>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Quibusdam ullam nostrum beatae quidem asperiores architecto 
                        alias ipsum quia, aperiam soluta.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- footer  section start -->
    {% include "footer.html" %}
    <!-- footer  section end -->

    <script>
        const filmId = localStorage.getItem('filmId');
        detailsFilm(filmId);
        getReview(filmId)
    </script>

</body>
</html>