{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/logo1.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="/static/functions.js"></script>
    <script src="https://kit.fontawesome.com/e97de7ac91.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <!-- header section start -->
    {% include "header_user.html" %}
    <!-- header section end -->
    <!-- banner section start -->
     <div class="banner_section banner_home">
           <div class="container">  
                <h1 class="banner_title" id="username_banner">Wellcome</h1>
                <p class="banner_text">What film do you want search?</p>
                <div class="search">
                    <input type="text" placeholder="Search film..." id="title">
                    <i class="fa-solid fa-magnifying-glass" onclick="searchFilmHome()"></i>
                </div>
           </div>
     </div>
    <!-- banner section end -->
    <!-- found films start -->
    <div class="films_section films_home found_films">
        <div class="container">
            <div class="title">
                <h4 id="found_films"></h4>
            </div>
            <p id="displayMessage"></p>
            <div id="peliculas" class="films"></div>
        </div>
    </div>
    <!-- found films section end -->
    <!-- films section start -->
    <div class="films_section films_home">
        <div class="container">
            <div class="title">
                <h2>Films</h2>
            </div>
            <div class="films" id="container_films"></div>
            <div class="see_btn"><a href="#" >See More Films</a></div>
        </div>
    </div>
    <!-- films section end -->
    <!-- review section star -->
    <div class="review_section review_home">
        <div class="container">
            <div class="title">
                <h2>Reviews</h2>
            </div>
            <div class="reviews">
                <div class="container_review">
                    <div class="img_review">
                        <img src="{% static 'images/2.png' %}" alt="">
                    </div>
                    <div class="text_review">
                        <h3>Name movie</h3>
                        <div class="username">
                            <div><img src="" alt=""></div>
                            <div><i class="fa-solid fa-circle-user"></i></div>
                            <div><p><b>Username</b></p></div>
                        </div>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Quibusdam ullam nostrum beatae quidem asperiores architecto 
                            alias ipsum quia, aperiam soluta. lorem20
                        </p>
                    </div>
                </div>
                <div class="container_review">
                    <div class="img_review">
                        <img src="{% static 'images/5.png' %}" alt="">
                    </div>
                    <div class="text_review">
                        <h3>Name movie</h3>
                        <div class="username">
                            <div><img src="" alt=""></div>
                            <div><i class="fa-solid fa-circle-user"></i></div>
                            <div><p><b>Username</b></p></div>
                        </div>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Quibusdam ullam nostrum beatae quidem asperiores architecto 
                            alias ipsum quia, aperiam soluta.
                        </p>
                    </div>
                </div>
                <div class="container_review">
                    <div class="img_review">
                        <img src="{% static 'images/4.png' %}" alt="">
                    </div>
                    <div class="text_review">
                        <h3>Name movie</h3>
                        <div class="username">
                            <div><img src="" alt=""></div>
                            <div><i class="fa-solid fa-circle-user"></i></div>
                            <div><p><b>Username</b></p></div>
                        </div>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Quibusdam ullam nostrum beatae quidem asperiores architecto 
                            alias ipsum quia, aperiam soluta.
                        </p>
                    </div>
                </div>
                <div class="container_review">
                    <div class="img_review">
                        <img src="{% static 'images/3.png' %}" alt="">
                    </div>
                    <div class="text_review">
                        <h3>Name movie</h3>
                        <div class="username">
                            <div><img src="" alt=""></div>
                            <div><i class="fa-solid fa-circle-user"></i></div>
                            <div><p><b>Username</b></p></div>
                        </div>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Quibusdam ullam nostrum beatae quidem asperiores architecto 
                            alias ipsum quia, aperiam soluta.
                        </p>
                    </div>
                </div>
            </div>
            <div class="see_btn"><a href="#">Search movie</a></div>
        </div>
    </div>
    <!-- review section end -->
    <!-- footer  section start -->
    {% include "footer.html" %}
    <!-- footer  section end -->

    <script>
        films();
        infoUser();
        const username = localStorage.getItem('username');
        console.log(username)
        document.getElementById('username_banner').textContent = 'Wellcome back, ' + username;

        //getUserInfo(username);

    </script>
</body>
</html>