{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmRate</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/logo1.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="https://kit.fontawesome.com/e97de7ac91.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <!-- header section start -->
    {% include "header_user.html" %}
    <!-- header section end -->
    <!-- User section start -->
    <div class="user_container">
        <div class="container">
            <h1>Hello, username</h1>
            <div class="info">
                <h2>Infomation</h2>
                <p id="username_info"></p>
                <p><b>Gmail: </b>username@gmail.com</p>
            </div>
            <div class="info_watchlist">
                <h2>Your watchlist</h2>
                <div class="films_watchlist">
                    <div class="container_film">
                        <img src="images/1.png" alt="poster film">
                        <div class="info_film">
                            <h3 class="text_film"></h3>
                            <p class="p_film"></p>
                        </div>
                    </div>
                    <div class="container_film">
                        <img src="images/2.png" alt="poster film">
                        <div class="info_film">
                            <h3 class="text_film"></h3>
                            <p class="p_film"></p>
                        </div>
                    </div>
                    <div class="container_film">
                        <img src="images/3.png" alt="poster film">
                        <div class="info_film">
                            <h3 class="text_film"></h3>
                            <p class="p_film"></p>
                        </div>
                    </div>
                    <div class="container_film">
                        <img src="images/4.png" alt="poster film">
                        <div class="info_film">
                            <h3 class="text_film"></h3>
                            <p class="p_film"></p>
                        </div>
                    </div>
                    <div class="container_film">
                        <img src="images/5.png" alt="poster film">
                        <div class="info_film">
                            <h3 class="text_film"></h3>
                            <p class="p_film"></p>
                        </div>
                    </div>
                </div>
                <div class="see_btn"><a href="#">See Your Watchlist</a></div>
            </div>
        </div>
    </div>

    <!-- footer  section end -->
    <!-- footer  section start -->
    {% include "footer.html" %}
    <!-- footer  section end -->

</body>
</html>